aws:
  service: "DEFAULT_SERVICE"
  access_key_id: "DEFAULT_ACCESS_KEY"
  secret_access_key: "DEFAULT_SECRET_KEY"
  region: "DEFAULT_REGION"
  bucket: "DEFAULT_BUCKET_NAME"

allowed_origins: http://localhost:12345
